
    .traffic-light{
        margin:  0 auto;
        background-color: black;
        width: 200px;
        height: 350px;
    }
     .lightred{
		background-Color: red;
		border-Radius: 50%;
		width: 100px;
		height: 100px;
		margin: 0 auto;
	}
	.lightyellow{
		background-Color: yellow;
		border-Radius: 50%;
		width: 100px;
		height: 100px;
		margin: 0 auto;
	}
	.lightgreen{
		background-Color: green;
		border-Radius: 50%;
		width: 100px;
		height: 100px;
		margin: 0 auto;
	}
	.select{
        box-shadow: 0 0 50px white;
    }